<!doctype html>

<html>
  <head>
    <title>TrafficSpy Events Summary</title>
  </head>

  <body>
    <h1>TrafficSpy Event Analytics Summary</h1>

    <h3>Most Received Events</h3>
    <p> show most received event to least received event</p>

    <h3>Links To Event Specific Data </h3>
    <p>stuff goes here </p>

  </body>
</html>
