
    <h1>TrafficSpy Analytics Summary</h1>

    <h4>Most Requested URLs</h4>

    <h4>Web Browsers Breakdown</h4>

    <h4>OS Breakdown</h4>

    <h4>Screen Resolution</h4>

    <h4>Average Response Time per Url</h4>

    <h4>View URL Specific Information Link</h4>

    <h4>View Aggregate Event Data Link</h4>
