<!doctype html>

<html>
  <head>
    <title>TrafficSpy Analytics Summary</title>
  </head>

  <body>
    <h1>TrafficSpy Analytics Summary</h1>
    
    <h3>Most Requested URLs</h3>

    <h3>Web Browsers Breakdown</h3>

    <h3>OS Breakdown</h3>
    
    <h3>Screen Resolution</h3>
    
    <h3>Average Response Time per Url</h3>
    
    <h3>View URL Specific Information Link</h3>
    
    <h3>View Aggregate Event Data Link</h3>

  </body>
</html>
