<!doctype html>

<html>
  <head>
    <title>TrafficSpy Campaigns Summary</title>
  </head>

  <body>
    <h1>TrafficSpy Campaign Analytics Summary</h1>
    <p> display hyperlinks to each campaign </p>

  </body>
</html>
