<h2>Event Statistics</h2>

<h3>Identifier: <%=params[:identifier]%> </h3>
<h4>Event Name: <%=params[:event_name]%></h4>
<p><a href="/sources/<%= params[:identifier] %>/events">View Events Listing</a></p>

<div class="row">
  <div class="span6">

    <h5>Events by Hour of the Day</h5>
    <table class="table table-bordered table-striped">
      <th>Hour</th>
      <th>Count</th>

      <tr>
        <td><br/></td>
        <td><br/></td>
      </tr>

    </table>
  </div>
</div>