
<h3>Please select a site below</h3>

<ul>
  <% @sites.each do |site| %>
    <li class="source">
      <a href="/sources/<%= site.identifier%>"><%= site.identifier %></a><br/>
    </li>
  <% end %>
</ul>