
<h3>Please select a site below</h3>

<ul>
  <% @sites.each do |site| %>
    <li>
      <a class="source_link" href="/sources/<%= site.identifier%>"><%= site.identifier %></a><br/>
    </li>
  <% end %>
</ul>